<template>
  <div class="small">
    <BarChart :chart-data="datacollection" />
  </div>
</template>

<script>
import BarChart from "./BarChart.js";

export default {
    "components": {
        BarChart
    },
    "props": [
        "labels",
        "data",
        "number_alternatives",
        "name_of_alternatives",
        "max_indexes"
    ],
    data () {

        return {
            "datacollection": null,
            "colors": [
                "rgba(0, 89, 179, 0.7)",
                "rgba(255, 26, 102, 0.7)",
                "rgba(42, 128, 0, 0.7)",
                "rgba(255, 255, 26, 0.7)",
                "rgba(26, 140, 255, 0.7)",
                "rgba(230, 153, 0, 0.7)",
                "rgba(230, 0, 115, 0.7)",
                "rgba(0, 179, 89, 0.7)",
                "rgba(230, 46, 0, 0.7)"
            ]
        };

    },
    mounted () {

        this.fillData();

    },
    "methods": {
        fillData () {

            let my_dataset = [],
                c = 0;
            for (let i = 0; i < this.number_alternatives; i++) {

                my_dataset.push({
                    "label": this.name_of_alternatives[i],
                    "backgroundColor": this.colors[c],
                    "pointBackgroundColor": "white",
                    "borderWidth": 1,
                    "pointBorderColor": "#249EBF",
                    "data": this.data[i]
                });
                c += 1;
                if (c === this.colors.length) {

                    c = 0;

                }

            }
            this.datacollection = {
                "labels": this.max_indexes,
                "datasets": my_dataset
            };

        }
    }
};
</script>

<style>
  .small {
    max-width: 600px;
    margin:  50px auto;
    background-color:  rgba(0, 0, 0,.7);
  }
</style>
