<template id="Dialog">
  <div>
    <div v-if="best === 'null'">
      <div v-if=" questions_features.length === 0">
        <div v-if="flag_get_forms == false">
          <div class="start">
            <p>
              Добро пожаловать в систему выбора вариантов! <br>
              Ответьте на все вопросы, и система выберет для вас наилучший вариант.
            </p>
            <hr> <br>
            <p> Введите количество критериев для сравнения </p>
            <input
              v-model="number_of_features"
              type="number"
              pattern="[0-9]*"
              class="input-size-font"
              min="2"
            >
            <br>
            <div
              v-if="number_of_features < 2 && number_of_features !=''"
              class="error"
            >
              количество критериев должно быть больше единицы
            </div>
            <p> Введите количество альтернатив </p>
            <input
              v-model="number_of_alternatives"
              type="number"
              pattern="[0-9]*"
              class="input-size-font"
              min="2"
            >
            <br>
            <div
              v-if="number_of_alternatives < 2 && number_of_alternatives !=''"
              class="error"
            >
              количество альтернатив должно быть больше единицы
            </div>
            <br>
            <button
              class="m-button"
              name="button"
              @click="get_forms_for_input"
            >
              Отправить
            </button>
            <div
              v-if="fill_fields === true"
              class="error"
            >
              заполните, пожалуйста, корректно все поля
            </div>
          </div>
        </div>

        <div v-else>
          <div class="center">
            <div class="row">
              <div class="column">
                <p>Введите названия критериев для сравнения</p>
                <div
                  v-for="(n, index) in Number(number_of_features)"
                  :key="n"
                >
                  <input
                    v-model="features[index]"
                    class="input-alig"
                  >
                </div>
                <div
                  class="m-small-button"
                  name="button1"
                  @click="add_number_of_features"
                >
                  +
                </div>
                <div
                  v-if="same_features === true"
                  class="same-elements-error"
                >
                  Критерии должны иметь уникальные имена
                </div>
              </div>
              <div class="column">
                <p>Введите названия объектов</p>
                <div
                  v-for="(n, index) in Number(number_of_alternatives)"
                  :key="n"
                >
                  <input
                    v-model="alternatives[index]"
                    class="input-alig"
                  >
                </div>
                <div
                  class="m-small-button"
                  name="button2"
                  @click="add_number_of_alternatives"
                >
                  +
                </div>
                <div
                  v-if="same_alternatives === true"
                  class="same-elements-error"
                >
                  Альтернативы должны иметь уникальные имена
                </div>
              </div>
            </div>
            <div
              v-if="is_tilda === true"
              class="error"
            >
              Символ "~~" недопустим!
            </div>
            <div
              v-if="fill_names === true"
              class="error"
            >
              Заполните, пожалуйста, все поля
            </div>
          </div>
          <div class="m-button-center">
            <div
              class="m-button"
              name="button"
              @click="push_names()"
            >
              Отправить
            </div>
          </div>
        </div>
      </div>

      <div v-else>
        <div v-if="questions_alternatives.length === 0 ">
          <myCarousel
            :list="questions_features"
            :features_answers="features_answers"
            :all_f="all_f"
            :all_al="all_al"
          />
          <br>
          <div class="m-button-center">
            <div
              class="m-button"
              type="button"
              name="button"
              @click="get_f_answers()"
            >
              Отправить
            </div>
          </div>
        </div>
      </div>

      <div v-if="(questions_alternatives.length != 0) && (suggest_additional_question === false)">
        <myCarousel
          :list="questions_alternatives"
          :features_answers="alternatives_answers"
          :all_f="all_f"
          :all_al="all_al"
        />
        <div class="m-button-center">
          <div
            class="m-button"
            type="button"
            name="button"
            @click="send_alternatives_answers()"
          >
            Отправить
          </div>
        </div>
      </div>

      <div
        v-if="(suggest_additional_question === true) && (additional_questions_features.length === 0) &&
          (number_of_features > 2)"
        class="center"
      >
        <p> Желаете ответить на дополнительные вопросы? </p>
        <div
          class="m-button2"
          type="button"
          name="button"
          @click="get_best_variant()"
        >
          Нет, хочу получить ответ
        </div>
        <div
          class="m-button2"
          type="button"
          name="button"
          @click="get_additional_questions()"
        >
          Да, хочу ответить
        </div>
      </div>

      <div v-if="additional_questions_features.length != 0 && additional_error.length === 0">
        <myCarousel
          :list="additional_questions_features"
          :features_answers="additional_answers_features"
          :all_f="all_add"
          :all_al="all_al"
        />
        <div class="m-button-center">
          <div
            class="m-button"
            type="button"
            name="button"
            @click="send_additional_answers()"
          >
            Отправить
          </div>
        </div>
      </div>

      <div v-if="(additional_error.length != 0) && (specifying_questions.length === 0)">
        <myCarouselError
          :additional_error="additional_error"
          :answers="answers_about_errors"
          :all_e="all_e"
        />
        <div class="m-button-center">
          <div
            class="m-button"
            type="button"
            name="button"
            @click="send_error_answers()"
          >
            Отправить
          </div>
        </div>
      </div>

      <div v-if="specifying_questions.length != 0">
        <myCarouselSpec
          :specifying_questions="specifying_questions"
          :choose="choose"
          :all_s="all_s"
        />
        <div class="m-button-center">
          <div
            class="m-button"
            type="button"
            name="button"
            @click="send_spec_answers()"
          >
            Отправить
          </div>
        </div>
      </div>
    </div>

    <div v-else>
      <div class="m-scroll">
        <h2> Результаты </h2>
        <div class="my-font">
          <p>
            По результатам ваших ответов наиболее подходящией альтернативой
            для Вас является
          </p>
          <div class="h3">
            {{ alternatives[Number(best)] }}
          </div>
          <hr>
          <p>Ниже Вы можете ознакомиться со статистикой Ваших ответов.</p>
        </div>
        <barChart
          :labels="features"
          :data="all_datasets"
          :number_alternatives="number_of_alternatives"
          :name_of_alternatives="alternatives"
          :max_indexes="max_indexes"
        />
        <doughnutChart
          :labels="alternatives"
          :my_data="functional"
        />
        <div class="m-button-center">
          <div
            class="m-button"
            type="button"
            name="button"
            @click="to_main()"
          >
            На главную
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import axios from "axios";
import myCarousel from "./MyCarousel.vue";
import barChart from "./BarChart.vue";
import doughnutChart from "./DoughnutChart.vue";
import myCarouselError from "./MyCarouselError.vue";
import myCarouselSpec from "./MyCarouselSpec.vue";

export default {
    "name": "Dialog",
    "components": {
        myCarousel,
        barChart,
        doughnutChart,
        myCarouselError,
        myCarouselSpec
    },
    "data" () {

        return {
            "someresponse": "null",
            "best": "null",
            "number_of_features": "",
            "number_of_alternatives": "",
            "flag_get_forms": false,
            "JSONdata": null,
            "features": [],
            "alternatives": [],
            "questions_features": [],
            "questions_alternatives": [],
            "features_answers": [],
            "alternatives_answers": [],
            "fill_fields": false,
            "same_features": false,
            "same_alternatives": false,
            "all_datasets": null,
            "max_indexes": [],
            "functional": null,
            "all_f": false,
            "all_al": false,
            "all_add": false,
            "all_e": false,
            "all_s": false,
            "fill_names": false,
            "is_tilda": false,
            "tasks": [],
            "suggest_additional_question": false,
            "additional_questions_features": [],
            "additional_answers_features": [],
            "additional_error": [],
            "answers_about_errors": [],
            "specifying_questions": [],
            "choose": []
        };

    },

    "methods": {
        to_main () {

            this.someresponse = "null";
            this.best = "null";
            this.number_of_features = "";
            this.number_of_alternatives = "";
            this.flag_get_forms = false;
            this.JSONdata = null;
            this.features = [];
            this.alternatives = [];
            this.questions_features = [];
            this.questions_alternatives = [];
            this.features_answers = [];
            this.alternatives_answers = [];
            this.fill_fields = false;
            this.same_features = false;
            this.same_alternatives = false;
            this.all_datasets = null;
            this.max_indexes = [];
            this.functional = null;
            this.all_f = false;
            this.all_al = false;
            this.all_add = false;
            this.all_e = false;
            this.all_s = false;
            this.fill_names = false;
            this.is_tilda = false;
            this.tasks = [];
            this.suggest_additional_question = false;
            this.additional_questions_features = [];
            this.additional_answers_features = [];
            this.additional_error = [];
            this.answers_about_errors = [];
            this.specifying_questions = [];
            this.choose = [];

        },
        add_number_of_features () {

            this.number_of_features = Number(this.number_of_features) + 1;

        },

        add_number_of_alternatives () {

            this.number_of_alternatives = Number(this.number_of_alternatives) + 1;

        },
        get_forms_for_input () {

            if (this.number_of_features > 0 && this.number_of_alternatives > 1) {

                this.fill_fields = false;
                this.flag_get_forms = true;

            } else {

                this.fill_fields = true;

            }

        },

        push_names () {

            if (this.alternatives.length + this.features.length != Number(this.number_of_features) +
      Number(this.number_of_alternatives)) {

                this.fill_names = true;

            } else {

                this.fill_names = false;

            }

            for (i = 0; i < this.features.length; i++) {

                if (this.features[i] === "") {

                    this.fill_names = true;
                    break;

                }

            }

            for (i = 0; i < this.alternatives.length; i++) {

                if (this.alternatives[i] === "") {

                    this.fill_names = true;
                    break;

                }

            }

            let is_tilda_a = false,
                is_tilda_f = false;
            for (let k = 0; k < this.features.length; k++) {

                if (this.features[k].match(/~~/) != null) {

                    is_tilda_f = true;
                    break;

                } else {

                    is_tilda_f = false;

                }

            }
            for (let m = 0; m < this.alternatives.length; m++) {

                if (this.alternatives[m].match(/~~/) != null) {

                    is_tilda_a = true;
                    break;

                } else {

                    is_tilda_a = false;

                }

            }
            this.is_tilda = is_tilda_f || is_tilda_a;

            if (this.fill_names === false && this.is_tilda === false) {

                const unique_features = new Set(this.features),
                    unique_alternatives = new Set(this.alternatives);
                if (unique_features.size === this.features.length && unique_alternatives.size === this.alternatives.length) {

                    this.same_features = false;
                    this.same_alternatives = false;
                    let features_list = "";
                    for (var i = 0; i < this.features.length - 1; i++) {

                        features_list += `${this.features[i]}~~`;

                    }
                    features_list += this.features[this.features.length - 1];
                    let alternatives_list = "";
                    for (let j = 0; j < this.alternatives.length - 1; j++) {

                        alternatives_list += `${this.alternatives[j]}~~`;

                    }
                    alternatives_list += this.alternatives[this.alternatives.length - 1];
                    let url = "http://localhost:5000/names";
                    url += `?number_of_features=${this.number_of_features
                    }&number_of_alternatives=${this.number_of_alternatives
                    }&names_of_features=${features_list
                    }&names_of_alternatives=${alternatives_list}`;
                    axios.
                        get(
                            url,
                            {"Content-Type": "application/json"}
                        ).
                        then((response) => {

                            this.someresponse = response.data;
                            for (let i = 0; i < this.someresponse.f_question.length; i++) {

                                const f_question_ = this.someresponse.f_question[i];
                                this.questions_features.push(f_question_);

                            }

                        }).
                        catch((error) => console.log(error));

                }
                if (unique_features.size === this.features.length) {

                    this.same_features = false;

                }
                if (unique_alternatives.size === this.alternatives.length) {

                    this.same_alternatives = false;

                }
                if (unique_features.size != this.features.length) {

                    this.same_features = true;

                }
                if (unique_alternatives.size != this.alternatives.length) {

                    this.same_alternatives = true;

                }

            }

        },

        send_spec_answers () {

            if (this.specifying_questions.length != this.choose.length) {

                this.all_s = true;

            } else {

                this.all_s = false;

            }
            if (this.all_s === false) {

                let url = "http://localhost:5000/spec_answers";
                url += `?spec_answers=${this.choose}`;
                axios.
                    get(
                        url,
                        {"Content-Type": "application/json"}
                    ).
                    then((response) => {

                        this.best = response.data.best;
                        this.all_datasets = response.data.all_datasets;
                        this.functional = response.data.functional;
                        this.max_indexes = response.data.indexes;
                        console.log(this.max_indexes);
                        console.log(
                            "data ",
                            response.data.indexes
                        );
                        let newTask = {
                            "alternatives": this.alternatives,
                            "features": this.features,
                            "best": this.alternatives[Number(this.best)]
                        };
                        this.get_task();
                        this.tasks.push(newTask);
                        newTask = null;
                        const parsed = JSON.stringify(this.tasks);
                        localStorage.setItem(
                            "tasks",
                            parsed
                        );

                    }).
                    catch((error) => console.log(error));

            }

        },

        send_error_answers () {

            if (this.additional_error.length != this.answers_about_errors.length) {

                this.all_e = true;

            } else {

                this.all_e = false;

            }
            if (this.all_e === false) {

                let url = "http://localhost:5000/error_answers";
                url += `?error_answers=${this.answers_about_errors}`;
                axios.
                    get(
                        url,
                        {"Content-Type": "application/json"}
                    ).
                    then((response) => {

                        if (response.data.e_question.length > 0) {

                            this.specifying_questions = response.data.e_question;

                        } else {

                            this.get_best_variant();

                        }

                    }).
                    catch((error) => console.log(error));

            }

        },

        send_additional_answers () {

            if (this.additional_questions_features.length != this.additional_answers_features.length) {

                this.all_add = true;

            } else {

                this.all_add = false;

            }
            if (this.all_add === false) {

                let url = "http://localhost:5000/additional_answers";
                url += `?additional_features_answers=${this.additional_answers_features}`;
                axios.
                    get(
                        url,
                        {"Content-Type": "application/json"}
                    ).
                    then((response) => {

                        if (response.data != "ok") {

                            for (let i = 0; i < response.data.length; i++) {

                                this.additional_error.push({
                                    "number": response.data[i].number,
                                    "user": response.data[i].user,
                                    "system": response.data[i].system,
                                    "answer": ""
                                });

                            }

                        } else {

                            this.get_best_variant();

                        }

                    }).
                    catch((error) => console.log(error));

            }

        },

        get_additional_questions () {

            const url = "http://localhost:5000/additional_questions";
            axios.
                get(
                    url,
                    {"Content-Type": "application/json"}
                ).
                then((response) => {

                    for (let i = 0; i < response.data.f_question.length; i++) {

                        const f_question_ = response.data.f_question[i];
                        this.additional_questions_features.push(f_question_);

                    }
                    console.log(this.additional_questions_features);

                }).
                catch((error) => console.log(error));

        },

        get_f_answers () {

            if (this.features_answers.length != this.questions_features.length) {

                this.all_f = true;

            } else {

                this.all_f = false;

            }
            if (this.all_f === false) {

                this.convert_answers(this.features_answers);
                let url = "http://localhost:5000/features_answers";
                url += `?features_answers=${this.features_answers}`;
                axios.
                    get(
                        url,
                        {"Content-Type": "application/json"}
                    ).
                    then((response) => {

                        this.response_features_answers = response.data;
                        for (let k = 0; k < this.response_features_answers.a_question.length; k++) {

                            const questions_for_feature = this.response_features_answers.a_question[k];
                            for (let j = 0; j < questions_for_feature.length; j++) {

                                const a_question_ = questions_for_feature[j];
                                this.questions_alternatives.push(a_question_);

                            }

                        }

                    }).
                    catch((error) => console.log(error));

            }

        },

        get_task () {

            if (localStorage.getItem("tasks")) {

                try {

                    this.tasks = JSON.parse(localStorage.getItem("tasks"));

                } catch (e) {

                    localStorage.removeItem("tasks");

                }

            }

        },

        get_best_variant () {

            const url = "http://localhost:5000/best_variant";
            axios.
                get(
                    url,
                    {"Content-Type": "application/json"}
                ).
                then((response) => {

                    this.best = response.data.best;
                    console.log(this.best);
                    this.all_datasets = response.data.all_datasets;
                    this.functional = response.data.functional;
                    this.max_indexes = response.data.indexes;
                    let newTask = {
                        "alternatives": this.alternatives,
                        "features": this.features,
                        "best": this.alternatives[Number(this.best)]
                    };
                    this.get_task();
                    this.tasks.push(newTask);
                    newTask = null;
                    const parsed = JSON.stringify(this.tasks);
                    localStorage.setItem(
                        "tasks",
                        parsed
                    );

                }).
                catch((error) => console.log(error));

        },

        send_alternatives_answers () {

            if (this.alternatives_answers.length != this.questions_alternatives.length) {

                this.all_al = true;

            } else {

                this.all_al = false;

            }
            if (this.all_al === false) {

                this.convert_answers(this.alternatives_answers);
                let url = "http://localhost:5000/alternatives_answers";
                url += `?alternatives_answers=${this.alternatives_answers}`;
                axios.
                    get(
                        url,
                        {"Content-Type": "application/json"}
                    ).
                    then((response) => {

                        if (this.number_of_features < 3) {

                            this.get_best_variant();

                        } else {

                            console.log(response.data);
                            this.suggest_additional_question = true;

                        }

                    }).
                    catch((error) => console.log(error));

            }

        },

        convert_answers (answers) {

            for (let i = 0; i < answers.length; i++) {

                if (answers[i] === "абсолютно превосходит") {

                    answers[i] = 16;

                } else if (answers[i] === "очень сильно превосходит") {

                    answers[i] = 8;

                } else if (answers[i] === "сильно превосходит") {

                    answers[i] = 4;

                } else if (answers[i] === "слабо превосходит") {

                    answers[i] = 2;

                } else if (answers[i] === "равнозначны") {

                    answers[i] = 1;

                } else if (answers[i] === "слабо уступает") {

                    answers[i] = 0.5;

                } else if (answers[i] === "сильно уступает") {

                    answers[i] = 0.25;

                } else if (answers[i] === "очень сильно уступает") {

                    answers[i] = 0.125;

                } else if (answers[i] === "абсолютно уступает") {

                    answers[i] = 0.0625;

                }

            }

        }
    }
};
</script>
<style scoped="Dialog">
.my-font{
  margin-top: 2%;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  border: 1px solid black;
  padding: 15px 0;
  background-color: rgba(0, 0, 0,.7);
}
h2{
  font-family: Impact, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px black;
}
.h3{
  font-family: Comic;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
}

feature-select {
  text-align: center;
  background: #ECF8FF;
}
p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.center {
  margin-top: 5%;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
  border: 1px solid black;
  padding: 30px 0;
  background-color: rgba(0, 0, 0,.7);
}
.start {
  margin-top: 5%;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
  border: 1px solid black;
  padding: 30px 0;
  background-color: rgba(0, 0, 0,.7);
}

.m-small-button {
  display:inline-block;
  padding:0.3em 1em;
  border:0.16em solid #b3b3b3;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#b3b3b3;
  text-align:center;
  transition: all 0.15s;
  background-color: rgba(0, 0, 0,.5);
}

.m-button{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #b3b3b3;
  margin-top: 20px;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#b3b3b3;
  text-align:center;
  transition: all 0.15s;
  background-color: rgba(0, 0, 0,.8);
}

.m-button:hover{
  color:#ffffff;
  border-color:#ffffff;
}

.m-button2{
  margin-left: 60px;
  margin-right: 60px;
  display:inline-block;
  padding:0.3em 1em;
  border:0.16em solid #b3b3b3;
  margin-top: 20px;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#b3b3b3;
  text-align:center;
  transition: all 0.15s;
  background-color: rgba(0, 0, 0,.8);
}

.m-button2:hover{
  color:#ffffff;
  border-color:#ffffff;
}

.m-button:active{
  color:#ffffff;
  border-color:#ffffff;
}
@media all and (max-width:30em){
  .m-button{
    display:block;
    margin:0.4em auto;
  }
}
.m-button-center {
  text-align: center;
}
.input-alig{
  margin-bottom: 5px;
}
.input-size-font{
  height: 20px;
  width: 40px;
  font-size: 18px;
}

.error {
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 12px;
  color: white;
  box-sizing: border-box;
  padding:0.3em 1em;
  border:0.16em solid red;
  border-radius: 10px;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  text-align:center;
  transition: all 0.15s;
  background-color: rgba(0, 0, 0,.5);
}

.same-elements-error {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  padding:0.3em 1em;
  border:0.16em solid red;
  border-radius: 10px;

  font-family:'Roboto',sans-serif;
  font-weight:400;
  text-align:center;
  transition: all 0.15s;
  background-color: rgba(0, 0, 0,.5);
}

.m-scroll {
  height: 90vh;
  width: 80%;
  overflow: scroll;
  margin: 0 auto;
  background-color: rgba(0, 0, 0,.3);;
}
</style>
