<template>
  <div class="small">
    <DoughnutChart :chart-data="datacollection" />
  </div>
</template>

<script>
import DoughnutChart from "./DoughnutChart.js";

export default {
    "components": {
        DoughnutChart
    },
    "props": [
        "labels",
        "my_data"
    ],
    data () {

        return {
            "datacollection": null,
            "colors": [
                "rgba(0, 89, 179, 0.7)",
                "rgba(255, 26, 102, 0.7)",
                "rgba(42, 128, 0, 0.7)",
                "rgba(255, 255, 26, 0.7)",
                "rgba(26, 140, 255, 0.7)",
                "rgba(230, 153, 0, 0.7)",
                "rgba(230, 0, 115, 0.7)",
                "rgba(0, 179, 89, 0.7)",
                "rgba(230, 46, 0, 0.7)"
            ]
        };

    },
    mounted () {

        this.fillData();

    },
    "methods": {
        fillData () {

            this.datacollection = {
                "datasets":
        [
            {
                "backgroundColor": this.colors,
                "data": this.my_data
            }
        ],
                "labels": this.labels
            };

        }
    }
};
</script>

<style>
.small {
  max-width: 600px;
  margin:  50px auto;
  background-color:  rgba(0, 0, 0,.7);
  padding: 20px;
}
</style>
