<template id="help">
  <div class="m-scroll">
    <div class="m-help">
      <div class="m-font1">
        Добро пожаловать в диалоговую систему выбора вариантов!
      </div>
      <hr>
      <div class="m-font2">
        На этой странице, вы сможете найти информацию,
        которая поможет Вам в использовании данной системы.
      </div>
      <div class="m-font2">
        Данная система основана на методе Коггера и Ю. Используя, полученную от Вас информацию,
        система предложит Вам наилучший вариант, среди указанных Вами.
        <br> <br>
        <div class="m-font5">
          Несколько инструкций для использования данной системы:
        </div>
        <br>
        <div class="m-font3">
          <li>
            Перейдите на вкладку "Главная" и введите количество критериев и альтернатив.
            В качестве критериев Вы можете выбрать важные для Вас  свойства, которыми обладают
            все альтернативы. Например, у автомобиля это может быть максимальная скорость, объём двигателя,
            цвет и др.
          </li>
          <li>
            После нажатия кнопки Вам будет предложено ввести названия ваших альтернатив и критериев.
            Давайте осознанные и понятные Вам имена. Если на первой странице Вы указали неверное количество,
            на этой странице вы можете добавить критерий или альтернативу.
          </li>
          <li>
            Далее система задаст Вам ряд вопросов. При ответе на вопрос Вам необходимо будет выбрать один из
            предложенных вариантов. Сначала система постарается выделить приоритетные для Вас критерии.
            Вопросы составляются таким образом, что Вам нужно будет сравнить два варианта
            между собой, что является неоспоримым преимуществом данного метода.
            Однако будьте внимательны, отвечая на вопросы. Система считает, что для Вас лучше, если значение
            критерия для альтернативы максимально. Сравнивая объекты по тому или иному критерию, помните, что
            Вы должны решить какой объект для Вас лучше.
            Например, если критерием является "стоимость", то логично, что чем она выше, тем объект для Вас хуже.
          </li>
          <li>
            Когда Вы ответите на все основные вопросы, система может предложить Вам ответить на дополнительные
            вопросы, чтобы проверить насколько здраво Вы оцениваете объекты. Если в ходе диалога будут выявлены противоречия,
            система проинформирует Вас об этом и предложит разрешить их.
          </li>
          <li>
            Ответив на все вопросы, Вы узнаете наиболее подходящий для Вас вариант. Выбор будет обусловлен
            только Вашими ответами. На странице отчёта, Вы сможете ознакомиться с графиками, и наглядно изучить
            причины такого выбора системы.
          </li>
          <li>
            В случае если вы постараетесь отправить системе незаполненные поля, она предупредит Вас об ошибке.
            Следуйте указаниям системы в данном случае.
          </li>
        </div>
        <br><br>
        <div class="m-font4">
          От разработчика: надеюсь данная система поможет Вам сделать непростой выбор и
          будет для Вас удобной, понятной и приятной в использовании.
        </div>
      </div>
    </div>
    <p class="center">
      Business фото создан(а) katemangostar - ru.freepik.com
    </p>
  </div>
</template>

<script type="text/javascript">

export default {
    "name": "Help"
};

</script>
<style scoped="help">
.m-font1{
  font-family: Comic;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 18px;
}

.m-font2{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 16px;
}

.m-font3{
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: 16px;
}

.m-font4{
  color: rgb(0, 0, 0);
  font-style:  oblique;
  text-align: center;
  font-size: 16px;
}

.m-font5{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.m-help {
  margin-top: 2%;
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
  border: 1px solid black;
  padding: 20px 50px;
  background-color: rgba(255, 255, 255,.7);
}
  .m-scroll {
    height: 90vh;
    width: 100%;
    overflow: scroll;
    margin: 0 auto;
}

.center {
  text-align: center;

}
</style>
