<template id="history">
  <div class="slide">
    <Slider
      v-model="sliderValue"
      :autoplay="false"
      width="100%"
      height="500px"
    >
      <div v-if="tasks.length === 0">
        <p> Здесь отобразится история ваших задач.</p>
        <p> Создайте Вашу первую задачу на вкладке "Главная".</p>
      </div>
      <div v-else>
        <SliderItem
          v-for="(task, index) in tasks"
          :key="index"
        >
          <div class="my-scroll">
            <p class="m-font-bold">
              Альтернативы
            </p>
            <p
              v-for="(alternative, index_1) in task.alternatives"
              :key="index_1"
            >
              {{ task.alternatives[index_1] }}
            </p>
            <hr>
            <p class="m-font-bold">
              Критерии
            </p>
            <p
              v-for="(alternative, index_2) in task.features"
              :key="index_2"
            >
              {{ task.features[index_2] }}
            </p>
            <hr>
            <p class="m-font-bold">
              Наилучший вариант
            </p>
            <p>  {{ task.best }} </p>
          </div>
          <div
            class="m-button"
            @click="removeTask(n)"
          >
            Удалить
          </div>
        </SliderItem>
      </div>
    </Slider>
  </div>
</template>

<script type="text/javascript">
import {Slider, SliderItem} from "vue-easy-slider";

export default {
    "name": "History",
    "components": {
        Slider,
        SliderItem
    },
    "data" () {

        return {
            "tasks": null,
            "sliderValue": 0
        };

    },
    mounted () {

        if (localStorage.getItem("tasks")) {

            try {

                this.tasks = JSON.parse(localStorage.getItem("tasks"));

            } catch (e) {

                localStorage.removeItem("tasks");

            }

        }

    },
    "methods": {
        changeIndex (index) {

            this.sliderValue = index;

        },
        removeTask (x) {

            this.tasks.splice(
                x,
                1
            );
            this.saveTasks();

        },

        saveTasks () {

            const parsed = JSON.stringify(this.tasks);
            localStorage.setItem(
                "tasks",
                parsed
            );

        }
    }
};
</script>

<style scoped="history">
.my-scroll {
  width: 500px;
  height: 75%;
  overflow: scroll;
  margin: 0 auto;
}
hr{
  width: 50%
}
.slide {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  text-align: center;
  background-color: rgba(0, 0, 0,.7);
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

.m-button{
  display:inline-block;
  border-radius: 20px;
  padding:0.4em 1em;
  border:0.16em solid #b3b3b3;
  box-sizing: border-box;
  margin-top:15px;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#b3b3b3;
  text-align:center;
  transition: all 0.15s;
  background-color: rgba(0, 0, 0,.8);
}

.m-button:hover{
  color:#ffffff;
  border-color:#ffffff;
}
.m-font-bold{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 18px;
  color: white;
}

</style>
