<template>
  <div
    id="my-carousel-error"
    class="slide"
  >
    <Slider
      v-model="sliderValue"
      :autoplay="false"
      width="100%"
      height="370px"
    >
      <SliderItem
        v-for="(i, index) in additional_error"
        :key="index"
      >
        <div class="my-scroll">
          <div class="m-select">
            <p class="font">
              По результатам дополнительных вопросов
            </p>
            <p class="font">
              возникли следующие противоречия:
            </p>
            <hr>
            <p class="m-font5">
              Ваш ответ на дополнительный вопрос:
            </p>
            <p> {{ additional_error[index].user }} </p>
            <br>
            <p class="m-font5">
              Ответ системы, исходя из ваших предыдущих ответов:
            </p>
            <p> {{ additional_error[index].system }} </p>
            <hr>
            <p> Вы согласны с вариантом, предложенным системой?</p>
            <br>
            <select v-model="answers[index]">
              <option
                selected
                disabled
                value="hi"
              >
                Выберите один из вариантов
              </option>
              <option
                v-for="(item) in list_for_choose"
                :key="item"
              >
                {{ item }}
              </option>
            </select>
          </div>
        </div>
        <div v-if="all_e === true">
          <div class="same-elements-error">
            Пожалуйста, дайте ответы на все вопросы.
          </div>
        </div>
      </SliderItem>
    </Slider>
  </div>
</template>

<script>
import {Slider, SliderItem} from "vue-easy-slider";

export default {
    "name": "MyCarouselError",
    "components": {
        Slider,
        SliderItem
    },
    "props": [
        "additional_error",
        "answers",
        "all_e"
    ],
    data () {

        return {
            "sliderValue": 0,
            "list_for_choose": [
                "Согласен",
                "Не согласен"
            ]
        };

    }
};
</script>

<style scoped="my-carousel-error">
hr{
  width: 70%
}

.font{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 18px;
}
.m-font5{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

p {
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
}

.slide {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  text-align: center;
  background-color: rgba(0, 0, 0,.7);
}

.center {
  text-align: center;
}

.m-select {
  margin-top: 25px;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
}
.same-elements-error {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  padding:0.3em 1em;
  border:0.16em solid red;
  border-radius: 10px;

  font-family:'Roboto',sans-serif;
  font-weight:400;
  text-align:center;
  transition: all 0.15s;
  background-color: rgba(0, 0, 0,.5);
}
.my-scroll {
  width: 500px;
  height: 78%;
  overflow: scroll;
  margin: 0 auto;
}

</style>
