<template>
  <div
    id="my-carousel"
    class="slide"
  >
    <Slider
      v-model="sliderValue"
      :autoplay="false"
      width="100%"
      height="200px"
    >
      <SliderItem
        v-for="(i, index) in list"
        :key="index"
      >
        <div
          m-select
          class="m-select"
        >
          {{ i }}
          <br> <br>
          <select v-model="features_answers[index]">
            <option
              selected
              disabled
              value="hi"
            >
              Выберите один из вариантов
            </option>
            <option
              v-for="(item) in list_for_choose"
              :key="item"
            >
              {{ item }}
            </option>
          </select>
          <div v-if="all_f === true">
            <div class="same-elements-error">
              Пожалуйста, дайте ответы на все вопросы.
            </div>
          </div>
          <div v-if="all_al === true">
            <div class="same-elements-error">
              Пожалуйста, дайте ответы на все вопросы.
            </div>
          </div>
        </div>
      </SliderItem>
    </Slider>
  </div>
</template>

<script>
import {Slider, SliderItem} from "vue-easy-slider";

export default {
    "name": "MyCarousel",
    "components": {
        Slider,
        SliderItem
    },
    "props": [
        "list",
        "features_answers",
        "all_f",
        "all_al"
    ],
    data () {

        return {
            "sliderValue": 0,
            "list_for_choose": [
                "абсолютно превосходит",
                "очень сильно превосходит",
                "сильно превосходит",
                "слабо превосходит",
                "равнозначны",
                "слабо уступает",
                "сильно уступает",
                "очень сильно уступает",
                "абсолютно уступает"
            ]
        };

    },
    "methods": {
        changeIndex (index) {

            this.sliderValue = index;

        }
    }
};
</script>

<style scoped="my-carousel">
p {
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
}

.slide {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  text-align: center;
  background-color: rgba(0, 0, 0,.7);
}

.center {
  text-align: center;
}

.m-select {
  margin-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
}
.same-elements-error {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  padding:0.3em 1em;
  border:0.16em solid red;
  border-radius: 10px;

  font-family:'Roboto',sans-serif;
  font-weight:400;
  text-align:center;
  transition: all 0.15s;
  background-color: rgba(0, 0, 0,.5);
}
</style>
