<template>
  <div
    id="my-carousel-spec"
    class="slide"
  >
    <Slider
      v-model="sliderValue"
      :autoplay="false"
      width="100%"
      height="370px"
    >
      <SliderItem
        v-for="(i, index) in specifying_questions"
        :key="index"
      >
        <div class="my-scroll">
          <br>
          <p>Выберите наиболее подходящую комбинацию</p>
          <hr>
          <div
            v-for="(question, index1) in i"
            :key="index1"
          >
            <input
              v-model="choose[index]"
              type="radio"
              :value="index1"
            >
            <p> {{ question[0] }} </p>
            <p> {{ question[1] }} </p>
            <br>
          </div>
        </div>
        <div v-if="all_s === true">
          <div class="same-elements-error">
            Пожалуйста, заполните все поля.
          </div>
        </div>
      </SliderItem>
    </Slider>
  </div>
</template>

<script>
import {Slider, SliderItem} from "vue-easy-slider";

export default {
    "name": "MyCarouselSpec",
    "components": {
        Slider,
        SliderItem
    },
    "props": [
        "specifying_questions",
        "choose",
        "all_s"
    ],
    data () {

        return {
            "sliderValue": 0
        };

    }
};
</script>

<style scoped="my-carousel-spec">
.my-scroll {
  width: 500px;
  height: 78%;
  overflow: scroll;
  margin: 0 auto;
}

hr{
  width: 70%
}

.font{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 18px;
}
.m-font5{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

p {
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
}

.slide {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  text-align: center;
  background-color: rgba(0, 0, 0,.7);
}

.center {
  text-align: center;
}

.m-select {
  margin-top: 25px;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
}
.same-elements-error {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  padding:0.3em 1em;
  border:0.16em solid red;
  border-radius: 10px;

  font-family:'Roboto',sans-serif;
  font-weight:400;
  text-align:center;
  transition: all 0.15s;
  background-color: rgba(0, 0, 0,.5);
}

</style>
