<template id="tabs">
  <div>
    <vue-tabs
      active-tab-color="rgba(0, 0, 0,.5)"
      active-text-color="white"
    >
      <v-tab title="Главная">
        <Dialog />
      </v-tab>
      <v-tab title="Последние задачи">
        <history />
      </v-tab>
      <v-tab title="Справка">
        <Help />
      </v-tab>
    </vue-tabs>
  </div>
</template>

<script type="text/javascript">
import {VTab, VueTabs} from "vue-nav-tabs";
import "./styles/vue-tabs.css";
import Dialog from "./Dialog.vue";
import Help from "./Help.vue";
import history from "./History.vue";

export default {
    "name": "Tabs",
    "components": {
        Dialog,
        VueTabs,
        VTab,
        Help,
        history
    },
    "data" () {

        return {

        };

    },
    "methods": {

    }
};
</script>
<style scoped="tabs">
h5 {
  border: solid #aaa;
  border-width: thin;
}
feature-select {
  text-align: center;
  background: #ECF8FF;
}
p {
  text-align: center;
  /* text-shadow: 2px 2px rgb(0, 0, 0); */
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px
}
.center {
  margin-top: 5%;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
  border: 1px solid black;
  padding: 30px 0;
  background-color: rgba(0, 0, 0,.7);
}
.start {
  margin-top: 150px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
  border: 1px solid black;
  padding: 30px 0;
  background-color: rgba(0, 0, 0,.7);
}

.m-button{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #b3b3b3;
  margin-top: 20px;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#b3b3b3;
  text-align:center;
  transition: all 0.15s;
  background-color: rgba(0, 0, 0,.8);
}

.m-button:hover{
  color:#ffffff;
  border-color:#ffffff;
}

.m-button:active{
  color:#ffffff;
  border-color:#ffffff;
}
@media all and (max-width:30em){
  .m-button{
    display:block;
    margin:0.4em auto;
  }
}

.m-button-center {
  text-align: center;
}
.input-alig{
  margin-bottom: 5px;
}
.input-size-font{
  height: 20px;
  width: 40px;
  font-size: 18px;
}

.m-tabs{
  color:#ff4d4d;

}
.m-tab{
  color:#ff4d4d;
}

/*<a href="https://ru.freepik.com/free-photos-vectors/business">Business фото создан(а) katemangostar - ru.freepik.com</a>*/
</style>
