<template>
  <div id="app">
    <tabs />
  </div>
</template>

<script>
import tabs from "./components/Tabs.vue";

export default {
    "name": "App",
    "components": {
        tabs
    }
};
</script>
